COPYING
Gruntfile.js
README
UPGRADE
composer-example.json
img_auth.php
index.php5
load.php5
opensearch_desc.php5
serialized
thumb.php5
CREDITS
HISTORY
README.mediawiki
api.php
docs
img_auth.php5
jsduck.json
maintenance
profileinfo.php
thumb_handler.php
INSTALL
RELEASE-NOTES-1.23
api.php5
languages
mw-config
profileinfo.php5
tests
thumb_handler.php5
FAQ
LocalSettings.php
StartProfiler.sample
cache
images
index.php
load.php
opensearch_desc.php
resources
thumb.php
wiki.phtml
.bash_history
.vim
.viminfo
